body {
    margin: 0;
    height: 100vh;

    background-image: url("images/505.jpg"); 
    background-size: contain;      
    background-position: center;
    background-repeat: repeat;     

    background-color: rgb(132, 33, 33);

    font-family: Arial, sans-serif;
    overflow: hidden;
}

#questionCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    height: 70vh;

    background: white;
    border-radius: 20px;
    padding: 20px;

    display: none; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#cardImageArea {
    width: 100%;
    height: 70%;

    background-size: contain;
    background-position: center;
    background-repeat: repeat;  

    border-radius: 15px;
}



.questionBox {
    width: 90%;
    padding: 15px;

    background: rgba(255, 240, 245, 0.95);
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 0 15px rgba(255, 77, 109, 0.5);
}


#cardQuestion,
#noCardText {
    margin: 0;
    font-size: 26px;
    color: #ff4d6d;

    animation: pinkGlow 2.5s ease-in-out infinite;
}


@keyframes pinkGlow {
    0% {
        text-shadow: 0 0 5px rgba(255, 77, 109, 0.4);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 77, 109, 0.9);
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 77, 109, 0.4);
    }
}


#proposalButtons {
    margin-top: 15px;
    display: none;
    gap: 15px;
}


#proposalButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff4d6d, #ff758c);
    color: white;
    cursor: pointer;

    box-shadow: 0 0 10px rgba(255, 77, 109, 0.6);

    transition: transform 3s ease-in-out, opacity 3s ease-in-out;
}

.noExit {
    transform: translateX(120vw);
    opacity: 0;
}


#proposalButtons button:hover {
    transform: scale(1.05);
}

#noCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    height: 70vh;

    background: white;
    border-radius: 20px;
    padding: 20px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

#noImageArea {
    width: 100%;
    height: 70%;

    background-image: url("images/oye.jpg"); 
    background-size: contain;
    background-position: center;
    background-repeat: repeat;

    border-radius: 15px;
}



#finalText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
    color: #ff4d6d;
    text-align: center;

    display: none;
    z-index: 3000;

    animation: pinkGlow 2.5s ease-in-out infinite;
}



#guessCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    height: 70vh;

    background: white;
    border-radius: 20px;
    padding: 20px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    z-index: 4000;
}

#guessImageArea {
    width: 100%;
    height: 70%;

    background-image: url("images/guess.jpg"); 
    background-size: contain;
    background-position: center;
    background-repeat: repeat;

    border-radius: 15px;
}

#guessText {
    margin: 0;
    font-size: 24px;
    color: #ff4d6d;
    text-align: center;

    animation: pinkGlow 2.5s ease-in-out infinite;
}
